@import '../../styles/variables';

.badge {
  color: $white;
  position: absolute;
  border-radius: 50px;
  padding: 1px 5px;
  font-size: 11px;
  top: -1px;
  min-width: 10px;
  text-align: center;
  border: 1px solid;
  right: -5px;
  background: #ff4350;
}
