.image-slider {
  width: 300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 992px) {
    width: 80%;
  }

  // @media (min-width: 768px) {
  //   width: 100%;
  // }
}
