@import '../../../../../styles/variables';

.speficiation-detail {

}

.label-specification {
  min-width: 150px;
  color: $richblack;
  // font-weight: 700;
}

.desc-specification {
  font-weight: 700;
}
